fastapi
uvicorn
gunicorn
requests
pdfplumber
sentence-transformers
faiss-cpu
langchain
langchain-community
langchain-openai
openai
python-docx
extract-msg
python-multipart
pydantic
huggingface-hub
transformers
torch
python-dotenv